// ---------------------------------------------------------------------------------/
//  BASE IMPORTS
// ---------------------------------------------------------------------------------/


// COMPASS MODULES
// --------------------------------------------------
@import "compass/reset"
@import "compass/typography/"
@import "compass/utilities/"
@import "compass/css3"


// COMPASS PLUGINS
// --------------------------------------------------
@import "susy"
@import "animate"


// OTHER GLOBAL FILES
// --------------------------------------------------
@import "variables"
@import "functions"
@import "mixins"

@import "sprites"
@import "media-queries"

@import "print"
@import "ie"

@import "components/buttons"

// ---------------------------------------------------------------------------------
//  DEFAULT STYLES
// ---------------------------------------------------------------------------------

html
  +improve-text-rendering
  overflow-y: scroll
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  text-size-adjust: 100%



// ACTIVATE THE VERTICAL RHYTHM
// --------------------------------------------------
+establish-baseline



// FONT-FACES
// --------------------------------------------------
// Add a custom font-face with Compass
// +font-face("Geogrotesque-Regular", font-files("style_169901.woff", woff, "style_169901.ttf", truetype, "style_169901.svg", svg), "style_169901.eot")



// Text Selection
// --------------------------------------------------
::selection
  background: $text-selection-background
  color: $text-selection-color



// BOX-SIZING BORDER-BOX DEFAULT 
// http://paulirish.com/2012/box-sizing-border-box-ftw/
// --------------------------------------------------
*
  +box-sizing(border-box)

.grid
  +box-sizing(content-box)

// input, textarea, select, button
//   +box-sizing(border-box)



// FORMS
// --------------------------------------------------
input, textarea, select, button
  outline: none
  
// Remove the webkit glow 
*:focus
  outline: none


  
b
  font-weight: bold
  
// CLASSES
// --------------------------------------------------
.text-strike
  text-decoration: line-through