// ---------------------------------------------------------------------------------
//  MIXINS
// ---------------------------------------------------------------------------------


//  Nicer text rendering in webkit and gecko
//  @see http://www.aestheticallyloyal.com/public/optimize-legibility/
//  @see http://files.christophzillgens.com/webkit-font-smoothing.html
=improve-text-rendering
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased



// These provide basic font stacks with fallbacks. You can add your own fonts to the stack
=sans-serif($prepend:false)
  $list: $sans-family
  @if $prepend != false
    font-family: join($prepend,$list)
  @else
    font-family: $list

=serif($prepend:false)
  $list: $serif-family
  @if $prepend != false
    font-family: join($prepend,$list)
  @else
    font-family: $list

=monospace($prepend:false)
  $list: $monospace-family
  @if $prepend != false
    font-family: join($prepend,$list)
  @else
    font-family: $list
    
    
    
=debug
  background-color: rgba(red,0.6)
  
  
=pressed-link
  position: relative
  bottom: -1px