= link_to 'Entrar com o Facebook', user_omniauth_connect_path(:facebook), \
                                   class: 'popup button facebook-connect', \
                                   'data-width' => 600, \
                                   'data-height' => 400
h1 Home
