h4 Data do último login:
p = @admin_user.current_sign_in_at

h4 IP do último login:
p = @admin_user.current_sign_in_ip

h4 Número de logins:
p = @admin_user.sign_in_count

h4 Criado em:
p = @admin_user.created_at

h4 Última alteração:
p = @admin_user.updated_at
