== t 'helpers.mailer.reset_password_instructions', \
     name: @resource.try(:name) || @resource.email, \
     link: link_to(t('helpers.mailer.change_my_password'), edit_password_url(@resource, reset_password_token:@resource.reset_password_token))
