/[if lt IE 7]
  //EN
  / p.chromeframe
  /   | Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.

  //PT-BR
  p.chromeframe
    | Seu navegador está <em>desatualizado!</em> <a href="http://browsehappy.com/"> Por favor utilize um navegador moderno</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">instale o Google Chrome Frame</a> para usar todos os recursos deste site.