meta property="og:image" content="og-facebook.png"
meta property="og:type" content="website"
meta property="og:url" content="http://"
meta property="og:title" content=""
meta property="og:description" content=""
meta property="og:locale" content="#{I18n.locale}"
meta content="#admin-id" property="fb:admins"