meta property="og:image"       content="og-facebook.png"
meta property="og:type"        content="website"
meta property="og:url"         content="http://#{ENV['APP_HOSTNAME']}"
meta property="og:title"       content="#{content_for?(:title) ? yield(:title).to_s + '— AitheriosStartaeBootstrap' : 'AitheriosStartaeBootstrap' }"
meta property="og:description" content="#{content_for?(:description) ? yield(:description) : 'AitheriosStartaeBootstrap'}"
meta property="og:locale"      content="#{I18n.locale}"
meta property="fb:admins"      content="#admin-id" 
