== favicon_link_tag '/apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon', \
                                                                 type: 'image/png', \
                                                                 sizes: '144x144'
== favicon_link_tag '/apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon', \
                                                                 type: 'image/png', \
                                                                 sizes: '114x114'
== favicon_link_tag '/apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon', \
                                                               type: 'image/png', \
                                                               sizes: '72x72'
== favicon_link_tag '/apple-touch-icon-57x57-precomposed.png', rel: 'apple-touch-icon', \
                                                               type: 'image/png', \
                                                               sizes: '57x57'
== favicon_link_tag '/favicon.png', type: 'image/png'
== favicon_link_tag '/favicon.ico'
