a.admin-button-wrapper href="/admin"
  .admin-button#admin-pannel-button:span Admin

a.admin-button-wrapper#mercury-edit-button-wrapper href="/editor#{request.path}"
  .admin-button#mercury-edit-button:span = t 'app.mercury.edit_button'
